---
export interface Props {
	imageName?: string;
	name?: string;
	position?: string;
}
const { imageName, name = 'Full Name', position = 'Position, Dept.' } = Astro.props;
---

<article class="bioCard" style={{ marginBottom: '16px'}}>
	{ imageName ? <img class="bioImage" src={`/images/${imageName}`} /> : <div class="bioImage"></div> }
	<div class="contentCard">
		<header class="bioHead">
			<h2>{name}</h2>
			<h3>{position}</h3>
		</header>
		<div class="bioBody">
			<slot />
		</div>
	</div>
</article>

<style lang="scss">
$cardHeight: 430px;
.bioCard {
	display: flex;
	flex-flow: row nowrap;
	min-height: $cardHeight;
	// width: 80ch;
	// padding: 16px 16px;
	border-radius: 12px;
	// background-color: rgba(21,21,21,0.7);
	background-color: #fff;
	// box-shadow: 0 0 24px #fff;
	color: #000;
	align-items: center;
	.bioImage {
		width: $cardHeight;
		height: $cardHeight;
	}
	.contentCard {
		width: 530px;
		.bioHead {
			* {
				line-height: 124.02%;
			}
			padding: 16px 8px;
			h2 {
				font-weight: 700;
				font-size: 40px;
			}
			h3 {
				font-weight: 500;
				font-size: 24px;
				color: #212121;
			}
		}
		.bioBody {
			padding: 8px 8px 16px;
			font-size: 20px;
		}
	}
}
// .contentCard {
// 	padding: 24px 8px;
// }
.cardContent {
	padding: 4px 16px;
	max-height: 24vh;
	overflow: hidden;
}
</style>