---
export interface Props {
	title: string;
	subtitle?: string;
	image?: string;
	isVertical?: boolean;
}
const {
	title, subtitle, image, isVertical = false
} = Astro.props;

const SIZES = {
	xsmall: "16pt",
	small: "24pt",
	normal: "36pt",
	large: "48pt",
};
---

<article class:list={[{ vertical: isVertical }]}>
	<div class="image-box">
		{image && <img src={image} alt="" />}
	</div>
	<div class="card-content">
		<header class="card-header">
			<h3 style={{fontSize: SIZES['normal']}}>{title ?? "Title Placeholder"}</h3>
			{subtitle && <h4 style={{fontSize: SIZES['xsmall']}}>{subtitle}</h4>}
		</header>
		<div>
			<slot />
		</div>
	</div>
</article>

<style lang="scss">
$cardHeight: 450px;
article {
	display: flex;
	flex-flow: row nowrap;
	padding: 0;
	background: #fff;
	border-radius: 8px;
	overflow: hidden;
	min-width: 50ch;
	max-width: 100ch;
	align-items: stretch;
	.image-box {
		display: flex;
		align-items: center;
		img {
			max-height: $cardHeight;
			max-width: $cardHeight;
		}
	}
	.card-content {
		display: flex;
		flex-flow: column nowrap;
		:global(*) {
			color: #000;
		}
		.card-header {
			display: flex;
			flex-flow: column;
			background-color: #dddddd;
			padding: 16px 16px 4px;
			flex: 1 1 100%;
			justify-content: center;
		}
		div {
			padding: 4px 16px 16px;
			flex: 1 1 100%;
		}
	}
	&.vertical {
		flex-flow: column;
		.card-header {
			text-align: center;
			h3 {
				order: 2;
			}
		}
	}
}
</style>
