---
// import styles from './header.module.css';

const navLinks = [
	{name: 'Home', url: '/'},
	{name: 'About', url: '/about'},
	{name: 'Projects', url: '/projects'},
	{name: 'Contact',	url: '/contact'}
];
---

<header class='siteHead'>
	<nav class='navBar'>
		{navLinks.map(link => <a href={`${link.url}`} class:list={['navLink', (link.url == Astro.url.pathname ? ' active' : '')]}>{link.name}</a>)}
	</nav>
</header>

<style>
.site_head {
    position: sticky;
    top: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    justify-items: flex-start;
    align-items: center;
    /* padding: 0 12px; */
    box-shadow: 0 1px 2px #cdcdcd;
}
.nav_button, .nav_title {
    font-size: 24px;
    padding: 12px 24px 8px;
    background-color: inherit;
    transition: all ease-in 100ms;
}
.siteHead {
    /* position: sticky;
    top: 0; */
    /* display: flex;
    flex-flow: row nowrap;
    justify-content: space-between; */
    /* justify-items: flex-start; */
    /* align-items: center; */
    padding: 0 12px;
    background-color: #000;
    /* box-shadow: 0 1px 2px #cdcdcd; */
}
.navBar {
    display: flex;
    font: 1em sans-serif;
    padding: 0 8px;
    justify-content: center;
    align-items: stretch;
}
.navLink {
    display: block;
    flex: 0 0 10ch;
    font-size: 14pt;
    text-align: center;
    text-decoration: none;
    padding: 1vh;
    font-weight: bold;
    transition: all ease-in 100ms;
}
.navLink:hover, .active {
    background: linear-gradient(transparent 90%, #fff);
}
</style>